ENV="dev" # or 'prod'
DB_USER="postgres"
DB_PASSWORD="postgres"
DB_NAME="ascertain"
AI_OPENAI_API_BASE="https://api.groq.com/openai/v1"
AI_OPENAI_API_KEY="gsk_..."
AI_MODEL_NAME="llama-3.3-70b-versatile"